@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Be Vietnam Pro", sans-serif;
}

:root {
    --bgOrange: #e84949;
  }
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.logo{
  width: 80px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}
.nav-items div{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
.nav-items div a{
    color: black;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem ;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    user-select: none;
    position: absolute;
    transition: all 3s;
    font-size: 7em;
    color: rgb(230, 230, 230);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2rem;

}

.hero-section-heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;

}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading{
   font-size: 45px;
   line-height: 45px;
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.wrapper{
    height: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pink {
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
  }
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(--bgOrange);
    color: black;
  }

.hero-section-right{
    position: relative;
}

.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scale 4s linear infinite;
}
.user-image img{
    z-index: -9;
}

@keyframes scale{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px;
    }
    100%{
         transform: scale(1);
         filter: grayscale(0);
    }
} 

.icon-dots{
    z-index: 9;
    animation: scale2 3s infinite;
    bottom: -1rem;
    right: 0;
}

@keyframes scale2 {
    0%{
        transform: translateY(0px);
    }
    50%{
         transform: translateY(-15px);
    }
    100%{
          transform: translateY(0px);
    }
}

.icon-cube{
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation: cuberotate 3s  linear infinite;
}

@keyframes cuberotate{
    0%{
        transform: rotateY(0deg);
        transform: translateY(0px);
    }
    50%{
        transform: rotateY(180deg);
        transform: translateY(-15  px);
    }
    100%{
        transform: rotateY(360deg);
        transform: translateY(0px);
    }
    
}

.icon-circle{
    z-index: 9;
    left: 0;
    bottom: 0;
    animation-name: circlemove;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes circlemove{
    0%{
        left: 0%;
        bottom: 0%;
    }
    50%{
        left: 5%;
        bottom: 10%;
    }
    100%{
        left: 0%;
        bottom: 0%;
    }
}

.icon-zigzag{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation-name: zigzagmove;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes zigzagmove {
    50%{
        left: 5%;
        top: 2%;
    }
}

.icon-plus{
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation-name: pluseffect;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes  pluseffect {
    50%{
        top: 3%;
        left: 48%;
    }
}

.project-section{
    background-color:rgba(231,231, 231);
    margin-top: 4rem;
}

.page-header{
    color: orangered;
    font-size: 90px;
    text-align: center;
    padding: 30px;
}
    
.project-card{
    width: 70%;
    height: 550px;
    margin-left: 200px;
    /* margin-right: 30px; */
    background-image: url(Project1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    
    
}

.project-card:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
}

.project-card::before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68, #343d68be ,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before{
    transform: scaleX(1);
}

.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    display: none;
}

.project-card:hover .project-number{
     display: block;
}

.project-number-right{
    right: -40px;
    top: -45px;
}

.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    padding: 2em;
    bottom: 20%;
    transition: all 0.4s;
    z-index: 5;
}

.project-content-left{
    left: 10%;
}
.project-content-right{
    right: 10%;
}

.project-skills-container{
    display: flex;
    width: 60%;
    gap: 10%;
    flex-wrap: wrap;
}
.project-skill{
    width: 40px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subHeading{
   width: 70%;
   font-size: 16px;
   font-style: italic;
}

.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.btn-project{
    border: none;
}
.icon{
   cursor: pointer;
   color:white;
   font-size: 35px;
   transition: all 0.4s;
}
.icon:hover{
    color: var(--bgOrange);
}
.project-card:hover .project-content{
    transform: scale(1.1);
}

#project-4{
    background-image: url(Project4.png);
    margin-left: 120px;
}
#project-2{
  background-image: url(Project2.png);
  margin-left: 120px;

}
#project-3{
    background-image: url(Project3.png);
}

.project-container{
    padding: 5px;
    margin: 10px;
    gap: 60px;
}

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skills-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.skills-container-right{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    gap: 2rem;
    justify-content: center;
}
.skill-fade-text{
    font-size: 15rem;
    position: absolute;
    font-style: bold;
    color:rgba(231,231, 231);
    user-select: none;
    bottom: -34.5%;
    right: -25%;
}
.blobe-style{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -5;
    transform: translate(-50%,-50%);
    animation: blobe-animate 3s linear infinite;
   
}

@keyframes blobe-animate {
    50%{
        top: 54%;
        left: 46%;
    }
}
.skills-logo{
    width: 90px;
    transition: all 0.5s;
}
.skills-logo:hover{
    transform: scale(1.2);
}
.skills-heading{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}
.caps{
    font-size: 90px;
}
.skills-subheading{
  width: 85%;
  margin-top: 1rem;
  text-align: justify;
}
.skills-subheading p{
    margin: 15px 0;
}

.contactus-form-container{
    width: 100%;
    background-color: rgba(231,231, 231);
}

.contactus-heading{
    font-size: 5rem;
    padding-top: 2em;
    color: var(--bgOrange);
}
.contactus-subheading{
    font-size: 3rem;
    text-transform: capitalize;
    color-scheme: #343d68aa;
}
.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
    margin: 2rem 5rem;
}
.formfield-container{
    width: 100%;
}

.formfield{
    width: 100%;
    height: 42px;
    font-size: 18px;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 5000;
    margin-top: 27px;
    border: none;
}

.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}
#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}
#submit-btn:hover{
    scale:0.9;
}

.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}

footer{
    position: relative;
    margin-top: -1px;
    padding: 5rem;
    background-color: #343d68;
}

.footer-wrapper{
    display:flex ;
    padding: 1.2rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    font-size: 5em;
    user-select: none;
}

.link-wrapper{
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover{
    color: var(--bgOrange);
}

.icon-wrapper{
    display: flex;
    gap: 1rem;
}